.modal__content_info {
  padding: 43px 45px 35px;
  box-shadow: 0px 0px 25px 0px #00000026;
}

.modal__title_info {
  line-height: 28px;
  margin: 0;
  max-width: 315px;
}

.modal__login-btn {
  background-color: transparent;
  border-style: none;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: left;
  color: #2f71e5;
  margin-top: 5px;
  padding: 0;
  cursor: pointer;
}
