.saved-news__header {
  background-color: #fff;
  margin: 0 auto;
  color: #000;
}

.saved-news__header_text {
  padding: 40px 104px 56px;
  color: #000;
  max-width: 530px;
}

.saved-news__header_subtitle {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #1a1b2280;
}

.saved-news__header_info {
  font-family: 'Roboto-Slab-Regular', 'Courier New', Courier, monospace;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  margin-top: 28px;
}

.saved-news__header_keywords {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 30px 0 0 0;
}

.saved-news__header_keywords_span {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
