.saved-news__container {
  background-color: white;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: start;
  width: 100%;
}

.saved-news__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 1440px;
  width: 100%;
}

.saved-news__background {
  background-color: #f5f6f7;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-size: cover;
  box-sizing: border-box;
  margin: 0;
  min-height: 500px;

  padding: 0;
}

.saved-news__list {
  padding: 62px 102px;
  margin: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(340px, 30%));
  grid-auto-rows: auto;
  gap: 16px;
  max-width: 1232px;
  max-height: 1292px;
}

@media screen and (max-width: 768px) {
  .saved-news__list {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: calc((100% - 688px) / 2);
    padding-left: calc((100% - 688px) / 2);
    grid-template-columns: repeat(auto-fit, 224px);
    gap: 8px;
  }

  .saved-news__background {
    max-width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .saved-news__container {
    padding: 0;
    width: 100%;
    min-height: 100vh;
  }

  .saved-news__background {
    padding: 0;
    margin: 0;
  }

  .saved-news__content {
    max-width: 100%;
  }

  .saved-news__list {
    padding: 0 0 16px 0;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-content: center;
  }
}
