.nav {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 20px 0;
  margin: 0;
}

.nav__links {
  display: flex;
  align-items: center;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.nav__link {
  background-color: transparent;
  border-style: none;
  padding: 0;
  height: 80px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-left: 76px;
  cursor: pointer;
  color: white;
}

.nav__link_page_saved {
  color: #1a1b22;
  padding-top: 28px;
  padding-bottom: 25px;
  border-bottom: 3px solid;
  color: #1a1b22;
  border-color: #1a1b22;
}

.nav__link_current_page_saved-news {
  border: none;
  color: #1a1b22;
}

.nav__link_home {
  color: #b6bcbf;
}

.nav__link_current_page_home {
  padding-top: 28px;
  padding-bottom: 25px;
  border-bottom: 3px solid;
  color: #fff;
  border-color: #fff;
}

.nav__current-user {
  background-color: transparent;
  width: 112px;
  font-size: 18px;
  padding: 8px;
  display: flex;
  line-height: 24px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 100px;
  margin-left: 64px;
  cursor: pointer;
}

.nav__current-user_home {
  border-color: #fff;
}

.nav__current-user_page_saved {
  border: 1px solid #1a1b22;
}

.nav__current-user_name {
  background-color: transparent;
  line-height: 24px;
  padding: 0;
  border-style: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  margin: 0;
  font-weight: 500;
  color: #fff;
}

.nav__current-user_name_saved {
  color: #1a1b22;
}

.nav__current-user_signout {
  background-color: transparent;
  background-image: url(../../assets/sign-out.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 3px;
  padding: 12px;
  margin-left: 16px;
  border-style: none;
}

.nav__current-user_signout_page_saved {
  background-image: url(../../assets/sign-out-saved.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12px;
  margin-left: 16px;
  height: 3px;
  border-style: none;
}

.nav__signin {
  background-color: transparent;
  margin-left: 42px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  padding: 12px 17px;
  width: 176px;
  border: 1px solid #fff;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
}
.nav__mobile-menu {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border-style: none;
  height: 24px;
  width: 24px;
  margin: 0;
  display: none;
  padding: 0;
}

.nav__mobile-menu_hidden {
  visibility: hidden;
}

.nav__mobile-menu_home {
  background-image: url(../../assets/menu.svg);
}

.nav__mobile-menu_saved-news {
  background-image: url(../../assets/menu-dark.svg);
}

@media screen and (max-width: 768px) {
  .nav {
    justify-content: flex-end;
    margin-right: 40px;
  }

  .nav__links {
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .nav__link {
    height: 66px;
  }

  .nav__signin {
    padding: 0;
    width: 152px;
    font-size: 16px;
    height: 40px;
  }

  .nav__current-user {
    width: 100px;
    height: 40px;
    font-size: 16px;
  }

  .nav__current-user_name {
    font-size: 16px;
  }

  .nav__current-user_signout {
    margin-left: 6px;
    margin: 5px;
    height: 3px;
  }

  .nav__current-user_signout_page_saved {
    margin-left: 0px;
    margin-right: 6px;
    height: 3px;
  }

  .nav__link_to-save {
    margin-left: 16px;
    margin-right: 16px;
  }

  .nav__link_page_saved {
    width: 160px;
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .nav__link_current_page_home {
    padding: 21px 0;
  }

  .nav__current-user {
    margin: 0;
  }
}

@media screen and (max-width: 575px) {
  .nav {
    margin-right: 16px;
    margin-top: 16px;
  }
  .nav__links {
    display: none;
  }

  .nav__mobile-menu {
    display: flex;
    visibility: visible;
    opacity: 1;
  }
}
