.header {
  display: flex;
  flex-direction: row;
  padding-right: 104px;
  justify-content: space-between;
  box-shadow: 0px -1px 0px 0px #ffffff33 inset;
  color: white;
}

.header__saved {
  color: #1a1b22;
}

.header__title {
  font-family: "Roboto-Slab-Bold", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-left: 104px;
  /*color: white;*/
  margin-top: 30px;
}

/*
.header__title_saved {
  color: #1a1b22;
  font-family: "Roboto-Slab-Bold", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-left: 104px;
  margin-top: 30px;
}
*/
