.card {
  background-color: #fff;
  max-width: 400px;
  max-height: 576px;
  overflow: hidden;
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card__header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 24px;
  position: absolute;
  right: 0;
  justify-content: end;
}

.card__header_home {
  justify-content: flex-end;
}

.card__header_saved-news {
  justify-content: space-between;
}
.card__keyword {
  background-color: #fff;
  border-radius: 10px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  padding: 8px 22px;
  margin: 0;
}

.card__save-btn {
  border-style: none;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.card__save-btn_unchecked {
  background-image: url(../../assets/bookmark.svg);
}

.card__save-btn_checked {
  background-image: url(../../assets/bookmark-checked.svg);
}

.card__save-btn_unchecked:hover {
  background-image: url(../../assets/bookmark-hover.svg);
}

.card__signin-tooltip {
  background-color: #fff;
  border-radius: 10px;
  border-style: none;
  color: #000;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  white-space: nowrap;
  padding: 0 11px;
  box-shadow: 0px 10px 22px 0px #3b4a741a;
  visibility: hidden;
  position: absolute;
  top: 12px;
  right: 70px;
}

.card__save-btn_unchecked:hover .card__signin-tooltip {
  visibility: visible;
}

.card__image {
  width: 100%;
  height: 272px;
  object-fit: cover;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 24px 0 24px;
  padding: 0;
}

.card__text {
  padding: 0;
}

.card__date {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #b6bcbf;
  margin: 0 0 12px 0;
}

.card__title {
  font-family: 'Roboto-Slab-Regular', Arial, sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  color: #1a1b22;
  margin: 0 0 16px 0;
  height: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.card__preview {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #1a1b22;
  margin: 0;
  height: 110px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.card__source {
  font-family: 'Roboto-Slab', 'Courier New', Courier, monospace;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #b6bcbf;
  padding: 0;
}

.card__delete_btn {
  border-style: none;
  background-color: #fff;
  background-image: url(../../assets/delete.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  padding: 8px;
  margin-left: 5px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.card__delete_btn:hover {
  background-image: url(../../assets/delete-hover.svg);
}

.card__delete-tooltip {
  background-color: #fff;
  border-radius: 10px;
  border-style: none;
  color: #000;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  white-space: nowrap;
  padding: 0 11px;
  box-shadow: 0px 10px 22px 0px #3b4a741a;
  visibility: hidden;
  position: absolute;
  top: -11px;
  right: 45px;
}

.card__delete_btn:hover .card__delete-tooltip {
  visibility: visible;
}

@media screen and (max-width: 575px) {
  .card {
    margin-top: 24px;
    width: 288px;
  }
}
