.modal__form-button {
  background-color: #e6e8eb;
  width: 360px;
  height: 64px;
  border-radius: 100px;
  color: #b6bcbf;
}

.modal__buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.modal__or-signup-button {
  margin-top: 16px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.modal__or-signup-button_span {
  color: #2f71e5;
}
